* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    font-size: 14px;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-left: 300px;
    gap: 16px;
}

section a {
    color: black;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

section,
aside {
    height: 100%;
}

aside {
    position: fixed;
    padding: 16px;
    padding-top: 0;
    height: 100%;
    width: 300px;
    overflow: auto;
}

aside.modules {
    border-right: 1px solid #DDD;
    gap: 24px;
}

aside.modules>h1 {
    margin-top: 16px;
}

aside.modules>h1>a {
    color: black;
    text-decoration: none;
}

aside.modules>ul {
    list-style: none;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

aside.modules>ul>li>a {
    color: black;
    text-decoration: none;
}

aside.modules>ul>li.active {
    font-weight: bold;
}